* 
!*.py
!*.xlsm
!*.bas
!templates/
!templates/*.html
!.gitignore
!README.md
!requirements.txt
.ipynb_checkpoints/
__pycache__/
.DS_Store
~$Updater_EDGAR.xlsm

# Sensitive files
app.py
generate_api_key.py
valid_keys.json
.env
*.pem
edgar-updater-key.pem
